.app {
  display: grid;
  grid-template-rows: 1fr;
  place-items: center;
}

.quotes-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 25px;
  place-content: center;
}

.quote {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-gap: 15px;
}