.app {
  display: grid;
  grid-template-rows: 1fr;
  height: auto;
  place-items: center;
}

.quotes-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 55px;
  place-content: center;
  background-color: rgb(240, 121, 121);
  padding-top: 50px;
  padding-bottom: 50px;
  height: auto;
}

.author-wrapper {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-gap: 20px;
  place-items: center;
}

.quote {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  grid-gap: 50px;
  cursor: pointer;
  place-items: center;
  place-content: center;
}

.quote span.author {
  font-weight: 700;
  font-size: 26px;
}

.quote span.desc {
  font-weight: 700;
  font-size: 16px;
  width: 65ch;
}

.form-wrapper {
  background-color: rgb(223, 99, 99);
  display: grid;
  grid-template-rows: 1fr;
  place-content: center;
}
.form-quotes {
  display: grid;
  grid-template-rows: repeat(6, 1.25fr);
  grid-gap: 30px;
  place-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
  width: 550px;
}

.single-quote {
  background-color: rgb(187, 126, 126);
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-gap: 30px;
  place-items: center;
  height: 100vh;
  padding-left: 100px;
}

.single-quote span {
  font-size: 16px;
  font-weight: 800;
  width: 40ch;
}
